__Subject:__ Topics of Tweets of US Congress through the Lens of Campaign Finance

__Date:__ 09/13/2018

__Author:__ Edmund D. Chitwood
***

__Summary:__<br>
<br>The following Notebook
- perform EDA on aggreate camapaign contribution data for current Congress, and
- aggregate PAC contribution totals for each relevant member of Congress
***

In [34]:
import pandas as pd
import pickle

In [35]:
contributions = pd.read_pickle('contributions_congress.pkl')

In [36]:
contributions.shape

(6477, 6)

In [37]:
contributions.total = contributions.total.apply(lambda x: int(x))
contributions.indivs = contributions.indivs.apply(lambda x: int(x))
contributions.pacs = contributions.pacs.apply(lambda x: int(x))

In [38]:
contributions.describe()

             indivs          pacs         total
count  6.477000e+03  6.477000e+03  6.477000e+03
mean   1.387461e+05  7.820888e+04  2.169550e+05
std    4.205258e+05  1.299483e+05  4.918567e+05
min   -1.937200e+04 -7.500000e+03 -7.848000e+03
25%    3.525000e+03  1.000000e+04  2.650000e+04
50%    2.144700e+04  3.100000e+04  6.690000e+04
75%    7.993000e+04  8.655000e+04  1.727500e+05
max    6.380421e+06  1.683410e+06  7.412821e+06

In [39]:
contributions.total.sum()

1405217325

In [40]:
contributions.sector_name.unique()

array(['Agribusiness', 'Communic/Electronics', 'Construction', 'Defense',
       'Energy/Nat Resource', 'Finance/Insur/RealEst', 'Health',
       'Lawyers & Lobbyists', 'Transportation', 'Misc Business', 'Labor',
       'Ideology/Single-Issue', 'Other', ''], dtype=object)

In [41]:
contributions[contributions.sector_name=='Construction'].shape

(499, 6)

In [42]:
pac_money_sector_totals = dict()

for i in contributions.sector_name.unique():
    pac_money_sector_totals[i] = contributions[contributions.sector_name==i].pacs.sum()

sorted(pac_money_sector_totals.items(), key=lambda kv: kv[1],reverse=True)

[('Finance/Insur/RealEst', 98677365),
 ('Ideology/Single-Issue', 74720701),
 ('Health', 61478600),
 ('Misc Business', 46388597),
 ('Labor', 40430030),
 ('Energy/Nat Resource', 37687841),
 ('Communic/Electronics', 33333296),
 ('Agribusiness', 30404282),
 ('Transportation', 30124702),
 ('Defense', 19931592),
 ('Lawyers & Lobbyists', 16792870),
 ('Construction', 14957881),
 ('Other', 1631189),
 ('', 0)]

In [43]:
money_sector_totals = dict()

for i in contributions.sector_name.unique():
    money_sector_totals[i] = contributions[contributions.sector_name==i].total.sum()

sorted(money_sector_totals.items(), key=lambda kv: kv[1],reverse=True)

[('Finance/Insur/RealEst', 297512353),
 ('Ideology/Single-Issue', 182747274),
 ('Other', 157386366),
 ('Lawyers & Lobbyists', 147443049),
 ('Misc Business', 137980958),
 ('Health', 118239165),
 ('Communic/Electronics', 79936741),
 ('Energy/Nat Resource', 68402712),
 ('Agribusiness', 55699720),
 ('Transportation', 50373705),
 ('Construction', 43947135),
 ('Labor', 40946010),
 ('Defense', 24602137),
 ('', 0)]

In [44]:
sector_by_number_congressmen = dict()

for i in contributions.sector_name.unique():
    sector_by_number_congressmen[i] = contributions[contributions.sector_name==i].shape

sorted(sector_by_number_congressmen.items(), key=lambda kv: kv[1],reverse=True)

[('Finance/Insur/RealEst', (507, 6)),
 ('Health', (506, 6)),
 ('Misc Business', (506, 6)),
 ('Lawyers & Lobbyists', (505, 6)),
 ('Ideology/Single-Issue', (505, 6)),
 ('Communic/Electronics', (503, 6)),
 ('Transportation', (503, 6)),
 ('Energy/Nat Resource', (502, 6)),
 ('Construction', (499, 6)),
 ('Other', (499, 6)),
 ('Agribusiness', (495, 6)),
 ('Labor', (475, 6)),
 ('Defense', (471, 6)),
 ('', (1, 6))]

In [45]:
contributions[contributions['os_id']=='N00003535'].pacs.sum()

3290891

In [46]:
contributions.shape

(6477, 6)

In [47]:
grouped = contributions.groupby('os_id')

os_id = []
pacs = []

for name, group in grouped:
    os_id.append(name)
    pacs.append(group[group['os_id']==name].pacs.sum())

In [48]:
contributions_totals = pd.DataFrame()

In [49]:
contributions_totals['os_id'] = os_id
contributions_totals['pacs'] = pacs

In [50]:
contributions_totals.head()

       os_id     pacs
0  N00000078   744634
1  N00000153  2019609
2  N00000179   479044
3  N00000270  2513089
4  N00000362  1894962

In [51]:
contributions_totals.describe()

               pacs
count  5.080000e+02
mean   9.971633e+05
std    9.944337e+05
min   -1.050000e+04
25%    3.689995e+05
50%    6.380310e+05
75%    1.237790e+06
max    5.879797e+06

In [52]:
contributions_totals.pacs.median()

638031.0

In [53]:
contributions_totals.pacs.mean()

997163.2795275591

In [54]:
contributions_totals.to_pickle('contributions_pacs.pkl')